.section.events-feed{
    padding: $default-section-padding;
}

section.event{
    padding: $default-section-padding;
    background-color:$grey-700;
    .event-content{
        color: black;
        .event-heading{
            .event-title{
                font-size: 1.2rem;

                .event-date{
                    font-size:.8rem;
                }
            }
            .event-subtitle{
                font-size: .8rem;
            }
            .event-author{
                font-size: .8rem;
            }
            
            
        }

        .event-body{
            margin-top: .75rem;
            .event-text{
                margin-bottom: 1.75rem;
            }
        }
    }
}